{% extends 'base.html'  %}

{% block title %} Detailed Post {% endblock %}

{% block content %}

<h1>Post № {{ post["id"] }} - {{ post["title"] }}</h1>
<p>{{ post.get('publish_date') }}</p>
<p>{{ post.get('content') }}</p>

<p><strong>Status:</strong> 
    {% if post["is_active"] %}
        Active
    {% else %}
        Inactive
    {% endif %}
</p>

<a href="{{ url_for('posts.get_posts') }}">Return posts</a>

<form method="POST" action="{{ url_for('posts.delete_post', id=post['id']) }}">
    <button type="submit" class="btn btn-danger">Delete Post</button>
</form>

<form method="POST" action="{{ url_for('posts.toggle_active', id=post['id']) }}">
    <button type="submit" class="btn btn-warning">
        {% if post["is_active"] %} Make Inactive {% else %} Make Active {% endif %}
    </button>
</form>

    {% endblock %}