{% extends 'base.html' %}

{% block title %}Posts{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('posts.static', filename='css/posts.css') }}">
{% endblock %}

{% block content %}
<div class="container my-4">
    <h1>All Posts</h1>
    {% if posts %}
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 postclass">
            <div class="card mb-4 shadow-sm">
                <img src="{{ url_for('posts.static', filename='images/default.png') }}" class="card-img-top" alt="Default image">
                <div class="card-body">
                    <h5 class="card-title">{{ post['title'] }}</h5>
                    <p class="card-text">{{ post['content'][:100] }}...</p>
                    <p class="card-text">
                        <small class="text-muted">
                            Category: {{ post['category'] }} | Author: {{ post['author'] }}
                        </small>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            Active: {{ 'Yes' if post['is_active'] else 'No' }} | 
                            Date: {{ post['publish_date'] }}
                        </small>
                    </p>
                    
                    <a href="{{ url_for('posts.detail_post', id=post['id']) }}" class="btn btn-primary btn-sm">Read More</a>
                    <form method="POST" action="{{ url_for('posts.toggle_active', id=post['id']) }}" style="display: inline;">
                        <button type="submit" class="btn btn-warning btn-sm">
                            {{ 'Deactivate' if post['is_active'] else 'Activate' }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No posts available.</p>
    {% endif %}
</div>
{% endblock %}
