<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    
    <!-- Підключення Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Підключення CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    {% block css %} {% endblock %}

</head>

<body>
    <header class="bg-success text-white text-center py-4">
        <h1>Станіслав Захарченко</h1>
        <p>Посада або Коротке гасло</p>
    </header>

    {% with msg = get_flashed_messages(with_categories=True) %}
    {% if msg %}
        {% for category, message in msg %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}


    {% include "navbar.html" %}

    <main>
        {% block content %}
        <p>Основний контент відображається тут.</p>
        {% endblock %}
    </main>

    {% include "footer.html" %}

    <!-- Підключення Bootstrap JS (необов'язково, якщо не використовуєте JavaScript функції Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
