    {% extends "base.html" %}
    
    {% block title %} {{ title }} {% endblock %}
    
    {% block content %}

    <section id="about">
        <h2>Про себе</h2>
        <p>Я є професіоналом у своїй галузі з багаторічним досвідом. Мені подобається розвиватися, вивчати нові технології та вирішувати складні завдання.</p>
        <img src="{{ url_for('static', filename='images/image.jpg') }}" alt="Фото профілю">
    </section>

    <section id="education">
        <h2>Освіта</h2>
        <p><strong>Університет</strong>: Приклад університету, Спеціальність (роки навчання)</p>
        <p><strong>Сертифікація</strong>: Назва сертифіката (рік отримання)</p>
    </section>

    <section id="skills">
        <h2>Навички</h2>
        <ul>
            <li>Мова програмування 1</li>
            <li>Мова програмування 2</li>
            <li>Інструмент або технологія</li>
            <li>Інші релевантні навички</li>
        </ul>
    </section>

    <section id="experience">
        <h2>Досвід роботи / Проекти</h2>
        <p><strong>Проект 1</strong>: Короткий опис проекту або досвіду</p>
        <p><strong>Проект 2</strong>: Короткий опис проекту або досвіду</p>
        <p><strong>Проект 3</strong>: Короткий опис проекту або досвіду</p>
    </section>
    {% endblock %}